@inherits LayoutComponentBase

<PageTitle>smip.smx.pit.2022</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            
@*            <LoginDisplay />
*@
            <a href="https://www.cesmii.org/technology-smip/" target="_blank">CESMII SMIP</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
